# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store


# Node
node_modules/


# IDE
.vscode/
.idea/


# Environment variables
.env


# Logs
*.log

# Large datasets
data/historical/
data/processed/

# ML models
models/

